numpy>=2,<2.3
pandas>=2.2,<3
scipy>=1.14,<1.16
statsmodels>=0.14,<0.15
scikit-learn>=1.5,<1.7
sqlalchemy
psycopg2-binary
psycopg[binary]
zepid
matplotlib
seaborn
geopandas
shapely
tqdm
contextily
esda
libpysal
splot
cartopy
econml>=0.16,<0.17
pygam
plotly
pillow
setuptools>=70,<81
